<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCountry()">
        <ion-icon slot="start" name="filter-outline"></ion-icon>
        Filter
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading && items.length">
    <ion-card *ngFor="let item of items">
      <ion-card-header color="light">
        <ion-card-subtitle>{{item.provinceState}}</ion-card-subtitle>
        <ion-card-title>{{item.countryRegion}}</ion-card-title>
      </ion-card-header>
      <ion-list lines="full">
        <ion-item button [routerLink]="['/home-detail/'+item.iso2+'/recovered']">
          <ion-label>Terkonfirmasi</ion-label>
          <ion-badge color="corona" mode="ios">{{item.confirmed | currency: " ":"symbol-narrow":"0.0-0"}}
          </ion-badge>
        </ion-item>

        <ion-item button [routerLink]="['/home-detail/'+item.iso2+'/recovered']">
          <ion-label>Sembuh</ion-label>
          <ion-badge color="warning" mode="ios">{{item.recovered | currency: " ":"symbol-narrow":"0.0-0"}}
          </ion-badge>
        </ion-item>

        <ion-item button [routerLink]="['/home-detail/'+item.iso2+'/deaths']">
          <ion-label>Meninggal</ion-label>
          <ion-badge color="danger" mode="ios">{{item.deaths | currency: " ":"symbol-narrow":"0.0-0"}}
          </ion-badge>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Tanggal Update</ion-label>
          <ion-badge color="light" mode="ios">{{item.reportDate | amTimeAgo}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="!isLoading && items.length===0">
    <ion-card color="danger">
      <ion-card-content class="ion-text-center">
        <h2>Belum ada data.</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLoading">
    <ion-list>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
