<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Kami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Developer</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Nama</h2>
        <p>Adiyat Hamzah</p>
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Penyedia Data</ion-label>
    </ion-list-header>
    <ion-item button (click)="openUP()">
      <ion-label>
        <h2>Mathdroid</h2>
        <p>https://github.com/mathdroid/covid-19-api</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
