ion-header {
  ion-toolbar {
    --ion-safe-area-top: 40px;
    padding-bottom: 10px;
  }
}
ion-content {
  ion-slide {
    ion-card {
      width: 100%;
    }
  }
  .cardCover {
    background-size: contain;
    background-position: center;
    height: 20vh;
    background-color: rgba(var(--ion-color-medium-rgb), 0.7);
    background-repeat: no-repeat;
    &.cover {
      background-size: cover;
    }
  }
}
