<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <img src="assets/covid19.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="corona" [routerLink]="['/abouts']">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label color="corona">Seluruh Dunia</ion-label>
    </ion-list-header>
    <ion-item button [routerLink]="['/home-detail/0/confirmed']">
      <ion-label>Terkonfirmasi</ion-label>
      <ion-badge color="corona" mode="ios">{{mainData.confirmed.value | currency: " ":"symbol-narrow":"0.0-0"}}
      </ion-badge>
    </ion-item>

    <ion-item button [routerLink]="['/home-detail/0/recovered']">
      <ion-label>Sembuh</ion-label>
      <ion-badge color="warning" mode="ios">{{mainData.recovered.value | currency: " ":"symbol-narrow":"0.0-0"}}
      </ion-badge>
    </ion-item>

    <ion-item lines="none" button [routerLink]="['/home-detail/0/deaths']">
      <ion-label>Meninggal</ion-label>
      <ion-badge color="danger" mode="ios">{{mainData.deaths.value | currency: " ":"symbol-narrow":"0.0-0"}}</ion-badge>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Tanggal Update</ion-label>
      <ion-badge color="light" mode="ios">{{mainData.lastUpdate  | amTimeAgo}}
      </ion-badge>
    </ion-item>

  </ion-list>
  <ion-list-header>
    <ion-label color="corona">5 Negara Tetangga</ion-label>
  </ion-list-header>
  <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptsBanner">
    <ion-slide *ngFor="let country of countryTop">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{country.name}}</ion-card-title>
        </ion-card-header>
        <div class="cardCover"
          [ngStyle]="{'backgroundImage': 'url(https://www.countryflags.io/'+country.code.toLowerCase()+'/flat/64.png)'}">
        </div>
        <ion-list lines="full">
          <ion-item button [routerLink]="['/home-detail/'+country.code+'/confirmed']">
            <ion-label>Terkonfirmasi</ion-label>
            <ion-badge color="corona" mode="ios">
              {{country.data.confirmed.value  | currency: " ":"symbol-narrow":"0.0-0"}}</ion-badge>
          </ion-item>

          <ion-item button [routerLink]="['/home-detail/'+country.code+'/recovered']">
            <ion-label>Sembuh</ion-label>
            <ion-badge color="warning" mode="ios">
              {{country.data.recovered.value  | currency: " ":"symbol-narrow":"0.0-0"}}</ion-badge>
          </ion-item>

          <ion-item lines="none" button [routerLink]="['/home-detail/'+country.code+'/deaths']">
            <ion-label>Meninggal</ion-label>
            <ion-badge color="danger" mode="ios">{{country.data.deaths.value  | currency: " ":"symbol-narrow":"0.0-0"}}
            </ion-badge>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Tanggal Update</ion-label>
            <ion-badge color="light" mode="ios">{{country.data.lastUpdate  | amTimeAgo}}
            </ion-badge>
          </ion-item>
        </ion-list>

      </ion-card>

    </ion-slide>

  </ion-slides>
  <!-- 
  <ion-list-header>
    <ion-label color="corona">Temuan Kasus Terakhir</ion-label>
  </ion-list-header>
  <ion-card *ngFor="let item of newest">
    <ion-list lines="full">
      <ion-item>
        <ion-label>Terkonfirmasi</ion-label>
        <ion-badge color="corona" mode="ios">{{item.totalConfirmed | currency: " ":"symbol-narrow":"0.0-0"}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>Sembuh</ion-label>
        <ion-badge color="warning" mode="ios">{{item.totalRecovered | currency: " ":"symbol-narrow":"0.0-0"}}
        </ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Tanggal Update</ion-label>
        <ion-badge color="light" mode="ios">{{item.reportDate | amTimeAgo}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card> -->

</ion-content>
